@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


/* box-sizing: Specifies the behavior of the 'width' and 'height' properties. Syntax: content-box | border-box */
/* outline: Shorthand property for 'outline-style', 'outline-width', and 'outline-color'. Syntax: [ <'outline-color'> || <'outline-style'> || <'outline-width'> ] */
* {
    box-sizing: border-box;
    outline: none;
}

/* background-color: Sets the background color of an element. 
font-family: Specifies a prioritized list of font family names or generic family names. A user agent iterates through the list of family names until it matches an available font that contains a glyph for the character to be rendered.
display: In combination with 'float' and 'position', determines the type of box or boxes that are generated for an element. Syntax:
margin: Shorthand property to set values for the thickness of the margin area. If left is omitted, it is the same as right. If bottom is omitted it is the same as top, if right is omitted it is the same as top. Negative values for margin properties are allowed, but there may be implementation-specific limits.
padding-top: Shorthand property to set values for the thickness of the padding area. If left is omitted, it is the same as right. If bottom is omitted it is the same as top, if right is omitted it is the same as top. The value may not be negative.*/
body {
    background-color: #96edd6; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}


/* position: The position CSS property sets how an element is positioned in a document. The top, right, bottom, and left properties determine the final location of positioned elements.
top: Specifies how far an absolutely positioned box's top margin edge is offset below the top edge of the box's 'containing block'.
color: Sets the color of an element's text
border: Shorthand property for setting border width, style, and color.
border-radiu: Defines the radii of the outer border edge.
padding: Shorthand property to set values for the thickness of the padding area. If left is omitted, it is the same as right. If bottom is omitted it is the same as top, if right is omitted it is the same as top. The value may not be negative.
cursor: Allows control over cursor appearance in an element */
.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #c8a462;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* transform: A two-dimensional transformation is applied to an element through the 'transform' property. This property contains a list of transform functions similar to those allowed by SVG. */
.add:active {
    transform: scale(0.98);
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}